@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

:root {
  view-transition-name: none;
}

li[aria-current='page'] {
  @apply variant-filled-primary rounded-[10px];
  view-transition-name: indicator;
}

.btn {
  @apply font-semibold;
}

div[aria-current='step'] {
  view-transition-name: active;
}
